%table.table.table-striped
  %tr
    - [:full_name, :age, :rating].each do |f|
      %th
        = Player.human_attribute_name f
  %tbody
    - @players.each do |p|
      %tr
        %td.h4
          = link_to p, player_path(p)
        - [:age, :rating].each do |f|
          %td
            = p.send f