%table.table.table-striped
  %tr
    %th.span1
      = t('.tournament')
    %th
      = t('.start_date')
  %tbody
    - @tournaments.each do |t|
      %tr
        %td.h4
          = link_to t.name, details_tournament_path(t)
        %td
          = l t.start_date
