%table.table.table-striped
  %tr
    %th.span1
      = t('.tournament')
    %th
      = t('.start_date')
  %tbody
    - @tournaments.each do |t|
      %tr
        %td.h4
          = t.name
        %td
          = t.start_date
